$light-grey: #fafafa;
$salmon: #ed938f;
$blue: #0e5679;

.toolbar {
  flex-direction: column;
  display: inline-flex;
  background-color: darken($light-grey, 10%);
  height: 100%;
  min-width: 440px;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.item-invisible {
  flex: 0 1 auto;
  width: 33%;
  visibility: hidden;
}

header {
  flex: 0 1 auto;
}

main {
  height: 100%;
  flex: 1 1 auto;
  overflow-x: hidden;
}

.landing-page {
  height: 94vh;
  width: 100%;
  background-image: url('../public/images/pexels-cosmos.jpg');
  background-size: cover;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 8fr;
  overflow: hidden;
}

.navbar {
  height: 6vh;
  min-height: 40px;
}

.CodeMirror {
  height: 94vh;
}

.CodeMirror-scroll {
  overflow: auto;
}

.field-item {
  border: 1px solid darken($light-grey, 25%);
  border-radius: 5px;
  padding: 0.2rem 0rem 0rem 0.2rem;
  margin-bottom: 0.65rem;
  box-shadow: 2.5px 5px 4px rgb(188, 188, 188);
}

.Typewriter {
  color: white;
  font-size: 2.5rem;
}

.card-deck {
  padding: 1rem;
  max-width: 1000px;
  margin-bottom: 3rem;
}

.section-headings {
  color: #29274c;
  padding: 3rem 1rem 1rem 1rem;
}

.demo-section {
  color: white;
  background-color: #29274c;
}

.feature-icons {
  padding: 1rem;
}

.demo-video {
  padding: 2rem;
  background-color: #29274c;
}

.demo-hr {
  border-top: 1px solid white;
}

hr {
  width: 250px;
  border-top: 1px solid #29274c;
  margin: auto 20px;
}
