$light-grey: #fafafa;
$salmon: #ed938f;
$blue: #0e5679;

.toolbar {
  flex-direction: column;
  display: inline-flex;
  background-color: darken($light-grey, 10%);
  height: 100%;
  min-width: 400px;
  justify-content: space-between;
}

.main-container {
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;
}

header {
  flex: 0 1 auto;
}

main {
  flex: 1 1 auto;
}

.landing-page {
  height: 100vh;
  width: 100%;
  background-image: url('../public/images/pexels-cosmos.jpg');
  background-size: cover;
}

.wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 3fr 8fr;
}

.navbar {
  height: 6vh;
  min-height: 40px;
}

.CodeMirror {
  height: 94vh;
}

.CodeMirror-scroll {
  // height: auto;
  overflow-y: auto;
  overflow-x: auto;
}

